appnope==0.1.0
coverage==4.4.2
decorator==4.1.2
Django==2.0.1
flake8==2.4.1
gnureadline==6.3.8
ipython==4.0.0
ipython-genutils==0.2.0
mccabe==0.3.1
pep8==1.7.1
pexpect==4.3.1
pickleshare==0.7.4
ptyprocess==0.5.2
pyflakes==0.8.1
pytz==2017.3
simplegeneric==0.8.1
six==1.11.0
traitlets==4.3.2
uWSGI==2.0.15
